#footer {
	padding-bottom: 200px;
	padding-top: 30px;
	background-color: white;
	background-position: center;
	background-size: cover;
	height: 150px;
	margin-top: -30px;
	margin-bottom: -30px;
	text-align: center;
	justify-content: space-between;
	display: flex;
	object-fit: cover;
}

#footer img{
	height: 150px;
	margin: 10px auto;
}

#footer h5 {
	padding-top: 70px;
	height: 150px;
	color: darkred;
}